* {
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

body {
  position: absolute;
  width: 360px;
  height: 379px;
  margin: 100px 450px;
}

main {
  position: absolute;
  width: 320px;
  height: 320px;
  left: 20px;
  top: 30px;
  padding: 20px;
  background-color: #F5F5F5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: solid 10px #0B2434;
}

.dice-container {
  background-color: #F5F5F5;
  display: grid;
  grid-template: auto auto /repeat(5, 1fr);
  gap: 20px;
}

.title {
  background-color: #F5F5F5;
  margin-bottom: 0;
  margin-top: -10px;
}

.instructions {
  background-color: #F5F5F5;
  margin-top: 0;
  margin-bottom: 12px;
  font-size: smaller;
}

.die-face {
  height: 40px;
  width: 40px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.die-num {
  font-size: 2rem;
}

.roll-btn {
  height: 35.84000015258789px;
  width: 92.15999603271484px;
  background: tomato;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 3.81277px;
  color: #FFFFFF;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 12px;
}

.roll-btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.roll-dice:focus {
  outline: none;
}